/* ESTILO GERAL DO SITE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  padding-top: 250px; /* Adiciona espaço para compensar a altura do header fixo */
  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

#imagem-logo,
#imagem-footer {
  width: 20%; /* Define um tamanho base para telas médias */
  height: auto; /* Mantém a proporção da imagem */
  min-width: 200px; /* Tamanho mínimo da logo */
  max-width: 200px; /* Tamanho máximo da logo */
}

#imagem-eu {
  width: 70%; /* Define um tamanho base para telas médias */
  height: auto; /* Mantém a proporção da imagem */
  min-width: 215px;
  max-width: 300px;
}

#imagem-sobre {
  width: 70%; /* Define um tamanho base para telas médias */
  height: auto; /* Mantém a proporção da imagem */
  min-width: 250px;
  max-width: 400px;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  margin-left: auto;
  font-weight: 600;
  background-color: rgb(3, 21, 178);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}
h2.titulo {
  color: white;
  font-size: 34px;
  text-align: center;
}
h2.titulo span {
  color: rgb(3, 32, 220);
}
button:hover,
form .btn-enviar input:hover {
  background-color: rgb(3, 32, 220);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  img {
    width: 30%;
  }
}

@media (max-width: 480px) {
  img {
    width: 40%;
    min-width: 80px;
  }
}

/* Estilo do cabeçalho */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 899; /* Garante que o menu fique acima dos outros elementos */
  background-color: black; /* Ajuste conforme a cor desejada */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona um leve sombreamento para destacar */
  transition: all 0.3s ease; /* Transição suave ao rolar */
}

/* Contêiner interno do cabeçalho */
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para deixar os itens distantes */
  padding: 10px 20px; /* Ajuste o espaçamento conforme necessário */
}

/* Links no cabeçalho */
header a {
  color: rgb(118, 118, 118);
  text-decoration: none;
  display: inline-block;
}

header a:hover {
  color: blue;
  transform: scale(1.1);
}

/* Navbar dentro do cabeçalho */
header nav {
  flex-grow: 1;
}

/* Lista de itens da navbar */
header nav ul {
  display: flex; /* Flexbox para os itens ficarem em linha */
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

/* Estilos para os itens da navbar */
header nav ul li {
  margin: 0 20px;
}

/* Estilo da logo dentro do cabeçalho */
header .logo img {
  transition: opacity 0.3s ease; /* Transição suave para ocultar logo */
  max-width: 120px; /* Ajuste o tamanho máximo da logo */
}

/* Quando a navbar rolar para baixo, oculta a logo */
header.navbar-scrolled .logo img {
  opacity: 0;
  visibility: hidden; /* Para evitar que o espaço da logo fique visível */
}

/* Estilo quando a navbar é fixada após rolar a página */
header.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombras mais suaves */
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: white;
  font-size: 42px;
  line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span {
  color: rgb(3, 32, 220);
}

.topo-do-site .txt-topo-site p {
  color: white;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* ESTILO DAS ESPECIALIDADES */

section.linguagens {
  padding: 40px 4%;
}
section.linguagens .flex {
  gap: 60px;
}
.linguagens .linguagens-box {
  color: white;
  padding: 40px;
  border-radius: 25px;
  margin-top: 45px;
  transition: 1.2s;
}
.linguagens .linguagens-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(3, 32, 220);
}
.linguagens .linguagens-box i {
  font-size: 70px;
  color: rgb(0, 34, 252);
}

.linguagens .linguagens-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ESTILO SECTION SOBRE */

section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre p {
  color: rgba(255, 255, 255, 0.709);
  font-size: 15px;
  margin-top: 20px 0;
  text-align: justify;
  letter-spacing: normal;
  line-height: 1.7;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  color: white;
  line-height: 40px;
  margin-bottom: 50px;
}

.sobre .txt-sobre h2 span {
  color: rgb(3, 32, 220);
  display: block;
}

.sobre .txt-sobre .btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(3, 32, 220);
  font-size: 24px;
  cursor: pointer;
  margin: 0 6px;
  transition: 3s;
}
.back-to-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(3, 32, 220);
  font-size: 24px;
  cursor: pointer;
  margin: 0 6px;
  transition: 3s;
}

.back-to-top i {
  font-size: 30px;
}

/* ESTILO DO PORFFOLIO */

section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.122);
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: 6s;
}
.overlay:hover {
  opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: rgb(56, 55, 55);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
}
form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: rgb(3, 32, 220);
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 2s;
}
/* ESTILO DO RODAPE */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.122);
}

footer .flex {
  display: flex;
}
footer .line-footer {
  padding: 20px 0;
}
.borda {
  border-top: 2px solid rgb(3, 32, 220);
}

footer .line-footer p i {
  color: rgb(37, 0, 248);
  font-size: 22px;
}
footer .line-footer p a {
  color: white;
  text-decoration: none;
}

.logo-footer img {
  max-width: 150px;
  height: auto;

  .back-to-top {
    position: fixed;
    bottom: 80px;
    right: 60px;
    width: 300px;
    height: 90px;
    border-radius: 50%;
    border: none;
    background-color: rgb(3, 32, 220);
    font-size: 104px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 0 6px;
    display: none; /* Escondido inicialmente */
    transition: all 0.3s ease-in-out; /* Transição suave */
  }

  .back-to-top:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
    background-color: rgb(
      0,
      24,
      174
    ); /* Cor do fundo no hover, um pouco mais escura */
  }

  .back-to-top:focus {
    outline: none; /* Remove o contorno padrão ao focar no botão */
  }
}

/* Tamanhos de tela até 1280px */
@media screen and (max-width: 1280px) {
  /* Ajustes gerais */
  .flex {
    flex-direction: column;
  }
  .topo-do-site .flex {
    flex-direction: column-reverse;
  }
  h2.titulo {
    font-size: 32px;
    line-height: 28px;
  }
  .menu-desktop,
  .btn-contato {
    display: none;
  }
  section.topo-do-site {
    padding: 20px 8%;
  }
  section.topo-do-site .flex {
    gap: 50px;
  }
}

/* Tamanhos entre 768px e 1300px */
@media screen and (min-width: 768px) and (max-width: 1300px) {
  section.sobre {
    padding: 70px 7%;
  }
  .sobre.txt-sobre {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }
  .btn-social {
    text-align: center;
  }
  .img-port {
    width: 90%;
    max-width: 340px;
    margin: 0 auto;
  }
  footer .line-footer {
    text-align: center;
  }
}

/* Tamanhos entre 768px e 1650px */
@media screen and (min-width: 768px) and (max-width: 1650px) {
  .topo-do-site h2 {
    font-size: 22px;
  }
  #imagem-eu {
    width: 100px;
  }
  #imagem-sobre {
    width: 100px;
  }
  section.portfolio {
    padding: 70px 10%;
  }
  section.portfolio .flex {
    gap: 50px;
  }
}
